<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="dadisk.css" rel="stylesheet" media="screen">
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<script src="dadisk.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<div class="container">
  <div>
    <ul class="breadcrumb">
      <li{{#rootactive}} class="{{rootactive}}"{{/rootactive}}>
      {{#rootactive}}<a href="{{roottarget}}{{#debug}}/?debug=1{{/debug}}">{{/rootactive}}{{rootname}}{{#rootactive}}</a>{{/rootactive}}
      {{#breadcrumb}}
      <span class="divider">/</span></li>
      <li{{#class}} class="{{class}}"{{/class}}>
      {{#target}}<a href="?dir={{target}}{{#debug}}&debug=1{{/debug}}">{{/target}}{{name}}{{#target}}</a>{{/target}}
      {{/breadcrumb}}
      <li class="pull-right"><form><input onclick="toggle_play();" type="button" class="btn btn-mini" value="play/pause"></form></li>
      <li class="pull-right"><form><input onclick="toggle_subs();" type="button" class="btn btn-mini" value="toggle&nbsp;subs"></form></li>
    </ul>
  </div>
  <div>
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <td>
          <small><a href="?dir={{dir}}&sort={{nextsort_name}}">Name</a></small>
        </td>
        <td width="80px">
          <small><a href="?dir={{dir}}&sort={{nextsort_size}}">Size</a></small>
        </td>
        <td width="100px">
          <small><a href="?dir={{dir}}&sort={{nextsort_date}}">Date</a></small>
        </td>
      </tr>
      {{#rows}}
      <tr>
        {{#isdir}}
        <td colspan=2>
          <a href="?dir={{target}}{{#debug}}&debug=1{{/debug}}">{{name}}</a>
        </td>
        {{#ts}}<td class="preish">{{ts}}</td>{{/ts}}
        {{/isdir}}
        {{#isother}}
        <td colspan=3>
          {{name}}
        </td>
        {{/isother}}
        {{#ismedia}}
        <td>
          <a href="javascript:void(0)" onclick="play_file('{{target}}');">{{name}}</a>
        </td>
        {{#size}}<td class="preish">{{size}}</td>{{/size}}
        {{#ts}}<td class="preish">{{ts}}</td>{{/ts}}
        {{/ismedia}}
      </tr>
      {{/rows}}
    </table>
  </div>
  {{#debug}}
  <div id="status">
    <pre>
{{pprint}}
    </pre>
  </div>
  {{/debug}}
  <div id="links">
    <a href="http://dickbutt.local:9091/transmission/web/">transmission</a>
  </div>
</div>
</body>
</html>
